extends ../layout.jade
block main
  form(action='/devices/new' method='post')
    p
      |name:
      input(type='text' name='name')
    p
      |type:
      input(type='text' name='type')
    input(type='submit' value='Next')