<md-content>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Charts</h2>
    </div>
  </md-toolbar>
  <md-input-container>
    <label for="readingType">Reading type</label>
    <input type="text" name="readingType" ng-model="selectedFilter.type">
  </md-input-container>
  <div layout="row" layout-wrap  md-scroll-y flex>
    <md-checkbox layout="row" name="selectedField" ng-model="fieldStates[field]" ng-repeat="field in fields" ng-change="fieldsChanged()">{{field}}</md-checkbox>
    
  </div>
  <canvas id="line" class="chart chart-line"
    chart-data="chart.data" chart-labels="chart.labels" chart-series='chart.series'
    chart-options="{animation: false}"></canvas>
</md-content>